#zenixIntro {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;

  animation: introOut 0.8s ease forwards;
  animation-delay: 5s; /* 👈 dura 3 segundo */
}

.zenix-logo {
  color: #fff;
  font-size: clamp(58px, 10vw, 140px);
  font-weight: 900;
  letter-spacing: -5px;
  transform: scale(0.8);
  opacity: 0;
  animation: logoZoom 0.6s ease forwards;
}

.zenix-logo span {
  color: #FFA100;
}

.zenix-line {
  width: 0;
  height: 4px;
  background: #FFA100;
  margin-top: 15px;
  border-radius: 20px;
  box-shadow: 0 0 20px #FFA100;
  animation: lineLoad 1s ease forwards;
}

#zenixIntro p {
  color: #fff;
  margin-top: 15px;
  font-size: 16px;
  opacity: 0;
  animation: textFade 0.5s ease forwards;
  animation-delay: 0.5s;
}

@keyframes logoZoom {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes lineLoad {
  to {
    width: 220px;
  }
}

@keyframes textFade {
  to {
    opacity: 1;
  }
}

@keyframes introOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
